@import 'variables', 'breakpoints';

@mixin authCard {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 350px;
	padding: 35px 0;
	border-radius: $base-border-radius;
	box-shadow: $base-box-shadow;
	margin: 0 2rem;
	transition: $ease-2;
	background-color: #fff;
}

@mixin clientMessage {
	width: 100%;
	font-size: $font-size-md;
	text-align: center;
	color: $off-white-1;
	background-color: $error;
	padding: 10px 35px;

	@include md {
		font-size: $font-size-sm;
	}
}

@mixin container {
	max-width: 1300px;
	margin: 0 auto;
}

@mixin workingHoursActions($color, $fs) {
	font-size: $fs;
	color: $color;
	cursor: pointer;

	@include md {
		font-size: $font-size-md;
	}
}
