// theme colors
$primary: #32a2ec;
$primary-darker: #1588d4;
$secondary: #2754e8;
$secondary-darker: #1f44bd;
$error: #d32752da;
$info: #f6c31c;
$light-gray: #8a8a8a;
$dark-gray: #6e6e6e;
$off-white-1: #f5f5f5;
$off-white-2: #ebedf0;

// transition
$ease-1: 0.1s ease-in-out;
$ease-2: 0.2s ease-in-out;

// spacing
$base-padding: 0.75rem;
$base-margin: 0.75rem;

// borders
$base-border-thickness: 1px;
$base-border-radius: 12px;

// box-shadow
$base-box-shadow: 1px 3px 15px rgba(0, 0, 0, 0.15);

// font-sizes
$base-font-size: 1rem;
$font-size-sm: $base-font-size * 0.85;
$font-size-md: $base-font-size * 1.05;
$font-size-lg: $base-font-size * 1.5;
$font-size-xl: $base-font-size * 2;
$font-size-xxl: $base-font-size * 3;
