@import 'variables', 'mixins';

table {
	width: 100%;
	background-color: #fff;
	border-spacing: 0;
	box-shadow: $base-box-shadow;
	color: $primary-darker;
	border-collapse: collapse;
	font-size: $font-size-md;
	border-radius: 5px;

	th {
		border-bottom: 1px solid #f3f5f7;
		border-right: 1px solid #f3f5f7;
		font-weight: 500;
	}

	td {
		color: $light-gray;
	}

	tr:nth-child(even) {
		background-color: #f3f5f7;
	}

	th,
	td {
		margin: 0;
		padding: 20px 25px;
		text-align: center;

		&:last-child {
			border-right: 0;
		}

		li {
			text-align: left;
		}
	}

	.table__action {
		display: flex;
		justify-content: space-around;
		font-size: 16px;

		.table__action-icon {
			cursor: pointer;
		}

		.table__action-delete {
			color: $error;
		}

		.table__action-update {
			color: $primary-darker;
		}
	}

	.clients__message {
		@include clientMessage;
	}
}

.table__pagination-wrapper {
	margin-top: 12px;
	display: flex;
	justify-content: center;
	width: 100%;
	position: relative;

	button {
		background-color: #fff;
		border: none;
		padding: 3px 8px;
		border-radius: 5px;
		color: $primary-darker;
		cursor: pointer;
		transition: $ease-1;

		&:disabled {
			border: 1px solid #dee4e7;
			background-color: #f0f4f7;
			color: #bec2c4;
			pointer-events: none;
		}

		&:hover {
			background-color: $primary-darker;
			color: $off-white-1;
		}
	}

	.table__clients-count {
		position: absolute;
		left: 0;
	}

	.table__page-count {
		position: absolute;
		right: 0;
		color: $light-gray;
	}
}
