@import 'variables', 'mixins', 'breakpoints';

.clients {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;

	.clients__actions {
		width: 100%;
		display: flex;
		justify-content: space-between;

		.client__add-btn {
			background-color: $primary;
			width: 35px;
			height: 35px;
			border-radius: 50%;
			font-size: $font-size-lg;
			color: #fff;
			border: 1px solid $off-white-2;
			transition: $ease-2;
			position: relative;
			cursor: pointer;

			&:hover {
				background-color: $primary-darker;
				color: #fff;
				transform: rotate(-360deg);
			}

			@include lg {
				width: 30px;
				height: 30px;
				font-size: $font-size-md;
			}

			@include md {
				width: 25px;
				height: 25px;
				font-size: $font-size-sm;
			}
		}

		.client__filters {

			select {
				color: $primary-darker;
				height: 32px;
				margin-right: 12px;
				border: none;
				outline: none;
				border-radius: 8px;
				padding: 5px 10px;

				@include lg {
					height: 25px;
					font-size: $font-size-sm;
				}
			}

			.client__text-filter {
				align-self: flex-end;
				width: 150px;
				margin-bottom: 10px;
				font-size: $font-size-md;
				border: 1px solid $off-white-2;
				padding: 6px 12px;
				border-radius: 8px;
				outline: none;

				&::placeholder {
					color: lighten($color: $light-gray, $amount: 20%);
				}

				&:focus {
					border: 1px solid #dfe1e3;
				}

				@include lg {
					font-size: $font-size-sm;
				}
			}
		}
	}

	.clients__message {
		@include clientMessage;

		span {
			cursor: pointer;
			text-decoration: underline;
		}
	}
}
