@import 'variables', 'mixins';

.clients {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;

	.clients__actions {
		width: 100%;
		display: flex;
		justify-content: space-between;

		.client__add-btn {
			background-color: $primary;
			width: 35px;
			height: 35px;
			border-radius: 50%;
			font-size: $font-size-lg;
			color: #fff;
			border: 1px solid $off-white-2;
			transition: $ease-2;
			position: relative;
			cursor: pointer;

			&:hover {
				background-color: $primary-darker;
				color: #fff;
				transform: rotate(-360deg);
			}
		}

		.client__filter {
			align-self: flex-end;
			width: 150px;
			margin-bottom: 10px;
			font-size: $font-size-md;
			border: 1px solid $off-white-2;
			padding: 6px 12px;
			border-radius: 5px;
			outline: none;

			&::placeholder {
				color: lighten($color: $light-gray, $amount: 20%);
			}

			&:focus {
				border: 1px solid #dfe1e3;
			}
		}
	}

	.clients__message {
		@include clientMessage;

		span {
			cursor: pointer;
			text-decoration: underline;
		}
	}
}
