@import 'variables', 'mixins', 'breakpoints';

table {
	width: 100%;
	background-color: #fff;
	border-spacing: 0;
	box-shadow: $base-box-shadow;
	color: $primary-darker;
	border-collapse: collapse;
	font-size: $font-size-md;
	border-radius: 5px;

	th {
		border-bottom: 1px solid #f3f5f7;
		border-right: 1px solid #f3f5f7;
		font-weight: 500;
	}

	td {
		color: $light-gray;
	}

	tr:nth-child(even) {
		background-color: #f3f5f7;
	}

	th,
	td {
		margin: 0;
		padding: 20px 25px;
		text-align: center;

		@include lg {
			padding: 10px 5px;
		}

		&:last-child {
			border-right: 0;
		}

		ul {
			padding: 0;
		}

		li {
			display: flex;
			justify-content: center;
			list-style-type: none;

			.day_month_section {
				width: 135px;
				font-weight: 500;
				display: flex;
				margin-right: 20px;
				color: lighten($color: $primary-darker, $amount: 15%);

				@include md {
					margin: 0 auto;
					width: 50%;
				}

				.day {
					width: 75px;
					text-align: left;
					margin-right: 10px;
				}

				.day_month {
					width: 75px;
					display: flex;
					justify-content: right;
				}
			}

			.times {
				width: 140px;
			}

			@include lg {
				flex-direction: column;
				align-items: center;
				justify-content: center !important;

				.day {
					margin: 0;
					width: 100%;
					display: inline-block;
				}
			}
		}

		@include md {
			font-size: $font-size-sm;
		}

		@include sm {
			font-size: 8px;
		}
	}

	.table__action {
		display: flex;
		justify-content: space-around;
		font-size: 14px;

		@include lg {
			font-size: 12px;
		}

		@include md {
			flex-direction: column;
			align-items: center;
			gap: 10px;
			font-size: 12px;
		}

		@include sm {
			font-size: 8px !important;
		}

		.table__action-icon {
			cursor: pointer;
		}

		.table__action-delete {
			color: $error;
		}

		.table__action-update {
			color: $primary-darker;
		}
	}

	.clients__message {
		@include clientMessage;
	}
}

.table__pagination-wrapper {
	margin-top: 12px;
	display: flex;
	justify-content: center;
	width: 100%;
	position: relative;

	@include md {
		font-size: $font-size-sm;
	}

	@include sm {
		font-size: 8px;
	}

	button {
		background-color: #fff;
		border: none;
		padding: 3px 8px;
		border-radius: 5px;
		color: $primary-darker;
		cursor: pointer;
		transition: $ease-1;

		&:disabled {
			border: 1px solid #dee4e7;
			background-color: #f0f4f7;
			color: #bec2c4;
			pointer-events: none;
		}

		&:hover {
			background-color: $primary-darker;
			color: $off-white-1;
		}
	}

	.table__clients-count {
		position: absolute;
		left: 0;

		@include sm {
			width: 20%;
		}
	}

	.table__page-count {
		position: absolute;
		right: 0;
		color: $light-gray;
	}
}
