@import 'variables', 'breakpoints';

.footer {
	color: $off-white-2;
	display: flex;
	position: fixed;
	bottom: 0;
	justify-content: center;
	padding: 12px 0;
	background-color: $primary-darker;
	width: 100%;

	@include md {
		font-size: $font-size-md;
	}
}

.footer-sidebar span {
	margin-left: 200px;

	@include md {
		margin-left: 0;
	}
}
