@import 'breakpoints', 'mixins';

.main__container {
	@include container;
	padding: 0 2rem;

	.main {
		padding-top: 120px;
		width: calc(100% - 200px);
		margin-left: 200px;
		padding-bottom: 80px;
	}

	.main__no-sidebar {
		width: 100%;
		margin-left: 0;
	}
}

@include md {
	.main {
		width: 100% !important;
		margin-left: 0 !important;
		margin-bottom: 106px;
	}

	.main__no-sidebar {
		width: 100% !important;
		margin-left: 0 !important;
	}
}
