@import 'variables', 'breakpoints', 'mixins';

.login-card {
	@include authCard;

	.login-card__img-wrapper {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap-reverse;
		justify-content: space-around;
		align-items: center;
		margin-bottom: 25px;

		.login-card__title {
			color: $primary-darker;
			text-transform: uppercase;
			font-weight: 400;
			margin-bottom: -5px;
		}

		.login-card__image {
			width: 50%;
			margin-bottom: 15px;
		}
	}

	.login-card__form {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 70%;

		.login-card__label {
			width: 100%;
			display: flex;
			margin-bottom: 6px;
		}

		.login-card__input {
			width: 100%;
			height: 30px;
			padding: 10px 15px;
			border: 1px solid #ccc;
			border-radius: 5px;
			outline: none;
			color: $light-gray;
			transition: $ease-1;
			font-size: $font-size-md;

			&:focus {
				border: 2px solid $primary;
			}
		}

		.login-card__input:nth-child(2) {
			margin-bottom: -10px;
		}

		.login-card__button {
			height: 30px;
			width: 100%;
			border: 0;
			border-radius: 5px;
			background-color: $primary;
			color: #fff;
			font-size: 14px;
			margin-top: 5px;
			margin-bottom: 25px;
			transition: $ease-2;
			cursor: pointer;
		}

		.login-card__button:hover {
			background-color: $primary-darker;
		}
	}

	.login-card__register {
		font-size: 14px;
		text-align: center;

		a {
			color: $primary-darker;
		}
	}

	@include sm {
		width: 250px;
		font-size: 12px;

		.login-card__button {
			font-size: 12px !important;
		}

		.login-card__title {
			margin-bottom: -10px !important;
		}

		.login-card__register {
			font-size: $font-size-sm;
		}
	}
}
