@import 'variables', 'breakpoints', 'mixins';

// Modal wrapper
.modal__overlay {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	padding: 1rem;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 9999;
	animation: show 0.5s ease;
	overflow-x: hidden;
	overflow-y: auto;
}

// Modal
.modal__content {
	width: fit-content;
	padding: 30px;
	background-color: $off-white-1;
	position: relative;
	border-radius: 8px;

	.modal__fade-out {
		animation: fadeOut 0.5s ease;
	}

	.modal__title {
		color: $primary-darker;
		padding: 8px;
		margin-bottom: 12px;
		font-weight: 500;
		width: fit-content;
		border-radius: 5px;
		text-transform: uppercase;
		position: relative;

		&::before {
			content: '';
			position: absolute;
			left: 0;
			top: 50%;
			width: 2px;
			height: 25px;
			transform: translateY(-50%);
			background-color: $primary-darker;
		}
	}

	.modal__close {
		position: absolute;
		right: 10px;
		top: 10px;
		font-size: $font-size-xl;
		color: $error;
		cursor: pointer;
	}

	.modal__group {
		display: flex;
		gap: 20px;
	}

	.modal__form-group {
		display: flex;
		flex-direction: column;
		margin-bottom: 12px;
	}

	.modal__group-times {
		justify-content: space-between;

		.modal__add-hour {
			@include workingHoursActions($primary-darker, $font-size-lg);
			margin-top: 30px;
		}
	}

	label {
		margin-bottom: 4px;
	}

	input {
		border-radius: 5px;
		border: 1px solid lighten($color: $light-gray, $amount: 25%);
		outline: none;
		padding: 5px 10px;
		font-size: $font-size-md;
		color: $light-gray;

		&:focus {
			box-shadow: 0 0 0 2px $primary-darker;
		}
	}

	.modal__working-hours-item {
		display: flex;
		justify-content: space-between;
		margin-top: 12px;
		border-radius: 5px;
		align-items: center;
		padding: 5px 8px;
		background-color: $primary-darker;
		color: #fff;

		.modal__working-hours-times {
			width: 100%;
			display: flex;
			justify-content: center;

			span {
				margin-right: 12px;
			}
		}

		.modal__remove-hour {
			@include workingHoursActions($off-white-2, $font-size-lg);
		}
	}

	.modal__submit {
		background-color: $primary;
		border: none;
		display: block;
		width: 100%;
		position: relative;
		padding: 5px 12px;
		border-radius: 5px;
		color: $off-white-2;
		font-size: $font-size-md;
		margin-top: 12px;
		transition: $ease-2;
		cursor: pointer;

		&:hover {
			background-color: $primary-darker;
		}

		.modal__submit-icon {
			position: absolute;
			left: 40%;
			top: 50%;
			transform: translateY(-50%);
		}
	}
}

// Fade in open animation
@keyframes show {
	0% {
		display: none;
		opacity: 0;
	}

	1% {
		display: flex;
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

// Fade out animation
@keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
