@import 'variables', 'breakpoints', 'mixins';

.register-card {
	@include authCard;
	padding: 35px;

	.register-card__img-wrapper {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap-reverse;
		justify-content: space-around;
		align-items: center;
		margin-bottom: 25px;

		.register-card__title {
			color: $primary-darker;
			text-transform: uppercase;
			font-weight: 400;
		}

		.register-card__image {
			width: 50%;
			margin-bottom: 15px;
		}
	}

	.register-card__form {
		display: flex;
		flex-direction: column;
		align-items: center;

		.register-card__name_wrapper {
			display: flex;
			gap: 15px;
		}

		.register-card__label {
			width: 100%;
			display: flex;
			margin-bottom: 6px;
		}

		.register-card__input {
			width: 100%;
			height: 35px;
			padding: 10px;
			border: 1px solid #ccc;
			border-radius: 5px;
			outline: none;
			color: $light-gray;
			transition: $ease-1;

			&:focus {
				border: 2px solid $primary;
			}
		}

		.register-card__button {
			width: 100%;
			padding: 10px;
			border: 0;
			border-radius: 5px;
			background-color: $primary;
			color: #fff;
			font-size: 16px;
			margin-top: 15px;
			margin-bottom: 25px;
			transition: $ease-2;
			cursor: pointer;
		}

		.register-card__button:hover {
			background-color: $primary-darker;
		}
	}

	.register-card_sign-in {
		font-size: 14px;
		text-align: center;

		a {
			color: $primary-darker;
		}
	}

	@include sm {
		font-size: 12px;

		.register-card__button {
			font-size: 12px !important;
		}
	}
}
