@import 'variables', 'breakpoints';

.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 200px;
	padding: 0 20px;
	background-color: #fff;
	font-family: Poppins, sans-serif;
	transition: $ease-1;
	z-index: 1001;
	box-shadow: $base-box-shadow;

	@include md {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.sidebar__logo {
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 35px 0 90px 0;

		@include md {
			margin: 35px 0 50px 0;
		}
	}

	.sidebar__logo-text {
		width: 55px;
		height: 55px;
		color: $primary-darker;
		border: 2px solid $primary-darker;
		border-radius: 30px;

		@include md {
			width: 40px;
			height: 40px;
		}
	}

	.sidebar__section {
		margin-bottom: 20px;
	}

	.sidebar__section-title {
		font-size: 0.75rem;
		margin-bottom: 10px;
		text-transform: uppercase;
		color: rgba(0, 0, 0, 0.75);
		font-weight: 600;

		@include md {
			font-size: 0.65rem;
		}
	}

	.sidebar__link {
		display: flex;
		align-items: center;
		font-size: $font-size-md;
		color: $primary-darker;
		padding: 8px 0;
		transition: $ease-1;
		border-radius: 12px;

		&:hover {
			background-color: $primary-darker;
			color: #fff;
		}

		.sidebar__link-icon {
			position: relative;
			top: -1px;
			margin-right: 8px;
			margin-left: 8px;
		}
	}

	.sidebar__link-active {
		background-color: $primary;
		color: #fff;
	}

	.sidebar__section-logout {
		margin-top: 65px;
	}
}

.sidebar-hide {
	transform: translateX(-500px);
	transition: $ease-1;
}

@include md {
	.sidebar {
		font-size: $font-size-md;
		width: 80px;
		padding: 0 12px;
	}

	.sidebar__link {
		margin: 0 auto;
		padding: 5px !important;
		width: 60%;

		.sidebar__link-text {
			display: none;
		}

		.sidebar__link-icon {
			font-size: 30px !important;
			margin: 0 auto !important;
		}
	}
}
