@import 'variables', 'breakpoints';

.tooltip[data-theme~='default'] {
	background-color: $primary-darker;
	border: none;
	padding: 2px 6px;
	color: #fff;
	font-weight: 500;
	font-size: $font-size-sm;
	margin-bottom: -2px;
	margin-left: -5px;

	@include md {
		padding: 0 !important;
	}

	// @media ($desktopXS) {
	// 	font-size: $font-xxs;
	// }

	// @media ($mobileL) {
	// 	font-size: 10px;
	// }
}
